static/soap/platform/order/soap.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://xml.netbeans.org/schema/MX_User_Manager_Currency_Stock_Order_CUS" targetNamespace="http://xml.netbeans.org/schema/MX_User_Manager_Currency_Stock_Order_CUS" elementFormDefault="qualified">
  <xsd:element name="MXUserShowStockSellOrder_Record">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="id">
          <xsd:complexType>
            <xsd:simpleContent>
              <xsd:extension base="xsd:int">
                <xsd:attribute name="isNull" type="xsd:boolean"/>
                <xsd:attribute name="isDefaultColumn" type="xsd:boolean"/>
              </xsd:extension>
            </xsd:simpleContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="user_id">
          <xsd:complexType>
            <xsd:simpleContent>
              <xsd:extension base="xsd:int">
                <xsd:attribute name="isNull" type="xsd:boolean"/>
                <xsd:attribute name="isDefaultColumn" type="xsd:boolean"/>
              </xsd:extension>
            </xsd:simpleContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="competition_id">
          <xsd:complexType>
            <xsd:simpleContent>
              <xsd:extension base="xsd:int">
                <xsd:attribute name="isNull" type="xsd:boolean"/>
                <xsd:attribute name="isDefaultColumn" type="xsd:boolean"/>
              </xsd:extension>
            </xsd:simpleContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="max">
          <xsd:complexType>
            <xsd:simpleContent>
              <xsd:extension base="xsd:float">
                <xsd:attribute name="isNull" type="xsd:boolean"/>
                <xsd:attribute name="isDefaultColumn" type="xsd:boolean"/>
              </xsd:extension>
            </xsd:simpleContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="min">
          <xsd:complexType>
            <xsd:simpleContent>
              <xsd:extension base="xsd:float">
                <xsd:attribute name="isNull" type="xsd:boolean"/>
                <xsd:attribute name="isDefaultColumn" type="xsd:boolean"/>
              </xsd:extension>
            </xsd:simpleContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="ttlive">
          <xsd:complexType>
            <xsd:simpleContent>
              <xsd:extension base="xsd:string">
                <xsd:attribute name="isNull" type="xsd:boolean"/>
                <xsd:attribute name="isDefaultColumn" type="xsd:boolean"/>
              </xsd:extension>
            </xsd:simpleContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="status">
          <xsd:complexType>
            <xsd:simpleContent>
              <xsd:extension base="xsd:byte">
                <xsd:attribute name="isNull" type="xsd:boolean"/>
                <xsd:attribute name="isDefaultColumn" type="xsd:boolean"/>
              </xsd:extension>
            </xsd:simpleContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="created_at">
          <xsd:complexType>
            <xsd:simpleContent>
              <xsd:extension base="xsd:string">
                <xsd:attribute name="isNull" type="xsd:boolean"/>
                <xsd:attribute name="isDefaultColumn" type="xsd:boolean"/>
              </xsd:extension>
            </xsd:simpleContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="stock_buy_sell_id">
          <xsd:complexType>
            <xsd:simpleContent>
              <xsd:extension base="xsd:int">
                <xsd:attribute name="isNull" type="xsd:boolean"/>
                <xsd:attribute name="isDefaultColumn" type="xsd:boolean"/>
              </xsd:extension>
            </xsd:simpleContent>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="MXUserShowStockBuyOrder_Record">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="id">
          <xsd:complexType>
            <xsd:simpleContent>
              <xsd:extension base="xsd:int">
                <xsd:attribute name="isNull" type="xsd:boolean"/>
                <xsd:attribute name="isDefaultColumn" type="xsd:boolean"/>
              </xsd:extension>
            </xsd:simpleContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="user_id">
          <xsd:complexType>
            <xsd:simpleContent>
              <xsd:extension base="xsd:int">
                <xsd:attribute name="isNull" type="xsd:boolean"/>
                <xsd:attribute name="isDefaultColumn" type="xsd:boolean"/>
              </xsd:extension>
            </xsd:simpleContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="competition_id">
          <xsd:complexType>
            <xsd:simpleContent>
              <xsd:extension base="xsd:int">
                <xsd:attribute name="isNull" type="xsd:boolean"/>
                <xsd:attribute name="isDefaultColumn" type="xsd:boolean"/>
              </xsd:extension>
            </xsd:simpleContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="stock_id">
          <xsd:complexType>
            <xsd:simpleContent>
              <xsd:extension base="xsd:int">
                <xsd:attribute name="isNull" type="xsd:boolean"/>
                <xsd:attribute name="isDefaultColumn" type="xsd:boolean"/>
              </xsd:extension>
            </xsd:simpleContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="price">
          <xsd:complexType>
            <xsd:simpleContent>
              <xsd:extension base="xsd:float">
                <xsd:attribute name="isNull" type="xsd:boolean"/>
                <xsd:attribute name="isDefaultColumn" type="xsd:boolean"/>
              </xsd:extension>
            </xsd:simpleContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="ttlive">
          <xsd:complexType>
            <xsd:simpleContent>
              <xsd:extension base="xsd:string">
                <xsd:attribute name="isNull" type="xsd:boolean"/>
                <xsd:attribute name="isDefaultColumn" type="xsd:boolean"/>
              </xsd:extension>
            </xsd:simpleContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="order_type">
          <xsd:complexType>
            <xsd:simpleContent>
              <xsd:extension base="xsd:byte">
                <xsd:attribute name="isNull" type="xsd:boolean"/>
                <xsd:attribute name="isDefaultColumn" type="xsd:boolean"/>
              </xsd:extension>
            </xsd:simpleContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="status">
          <xsd:complexType>
            <xsd:simpleContent>
              <xsd:extension base="xsd:byte">
                <xsd:attribute name="isNull" type="xsd:boolean"/>
                <xsd:attribute name="isDefaultColumn" type="xsd:boolean"/>
              </xsd:extension>
            </xsd:simpleContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="buy_date">
          <xsd:complexType>
            <xsd:simpleContent>
              <xsd:extension base="xsd:string">
                <xsd:attribute name="isNull" type="xsd:boolean"/>
                <xsd:attribute name="isDefaultColumn" type="xsd:boolean"/>
              </xsd:extension>
            </xsd:simpleContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="created_at">
          <xsd:complexType>
            <xsd:simpleContent>
              <xsd:extension base="xsd:string">
                <xsd:attribute name="isNull" type="xsd:boolean"/>
                <xsd:attribute name="isDefaultColumn" type="xsd:boolean"/>
              </xsd:extension>
            </xsd:simpleContent>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="MXUserShowCurrencySellOrder_Record">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="id">
          <xsd:complexType>
            <xsd:simpleContent>
              <xsd:extension base="xsd:int">
                <xsd:attribute name="isNull" type="xsd:boolean"/>
                <xsd:attribute name="isDefaultColumn" type="xsd:boolean"/>
              </xsd:extension>
            </xsd:simpleContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="user_id">
          <xsd:complexType>
            <xsd:simpleContent>
              <xsd:extension base="xsd:int">
                <xsd:attribute name="isNull" type="xsd:boolean"/>
                <xsd:attribute name="isDefaultColumn" type="xsd:boolean"/>
              </xsd:extension>
            </xsd:simpleContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="competition_id">
          <xsd:complexType>
            <xsd:simpleContent>
              <xsd:extension base="xsd:int">
                <xsd:attribute name="isNull" type="xsd:boolean"/>
                <xsd:attribute name="isDefaultColumn" type="xsd:boolean"/>
              </xsd:extension>
            </xsd:simpleContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="currency_buy_sell_id">
          <xsd:complexType>
            <xsd:simpleContent>
              <xsd:extension base="xsd:int">
                <xsd:attribute name="isNull" type="xsd:boolean"/>
                <xsd:attribute name="isDefaultColumn" type="xsd:boolean"/>
              </xsd:extension>
            </xsd:simpleContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="max">
          <xsd:complexType>
            <xsd:simpleContent>
              <xsd:extension base="xsd:float">
                <xsd:attribute name="isNull" type="xsd:boolean"/>
                <xsd:attribute name="isDefaultColumn" type="xsd:boolean"/>
              </xsd:extension>
            </xsd:simpleContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="min">
          <xsd:complexType>
            <xsd:simpleContent>
              <xsd:extension base="xsd:float">
                <xsd:attribute name="isNull" type="xsd:boolean"/>
                <xsd:attribute name="isDefaultColumn" type="xsd:boolean"/>
              </xsd:extension>
            </xsd:simpleContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="ttlive">
          <xsd:complexType>
            <xsd:simpleContent>
              <xsd:extension base="xsd:string">
                <xsd:attribute name="isNull" type="xsd:boolean"/>
                <xsd:attribute name="isDefaultColumn" type="xsd:boolean"/>
              </xsd:extension>
            </xsd:simpleContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="status">
          <xsd:complexType>
            <xsd:simpleContent>
              <xsd:extension base="xsd:byte">
                <xsd:attribute name="isNull" type="xsd:boolean"/>
                <xsd:attribute name="isDefaultColumn" type="xsd:boolean"/>
              </xsd:extension>
            </xsd:simpleContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="created_at">
          <xsd:complexType>
            <xsd:simpleContent>
              <xsd:extension base="xsd:string">
                <xsd:attribute name="isNull" type="xsd:boolean"/>
                <xsd:attribute name="isDefaultColumn" type="xsd:boolean"/>
              </xsd:extension>
            </xsd:simpleContent>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="MXUserShowCurrencyBuyOrder_Record">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="id">
          <xsd:complexType>
            <xsd:simpleContent>
              <xsd:extension base="xsd:int">
                <xsd:attribute name="isNull" type="xsd:boolean"/>
                <xsd:attribute name="isDefaultColumn" type="xsd:boolean"/>
              </xsd:extension>
            </xsd:simpleContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="competition_id">
          <xsd:complexType>
            <xsd:simpleContent>
              <xsd:extension base="xsd:int">
                <xsd:attribute name="isNull" type="xsd:boolean"/>
                <xsd:attribute name="isDefaultColumn" type="xsd:boolean"/>
              </xsd:extension>
            </xsd:simpleContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="user_id">
          <xsd:complexType>
            <xsd:simpleContent>
              <xsd:extension base="xsd:int">
                <xsd:attribute name="isNull" type="xsd:boolean"/>
                <xsd:attribute name="isDefaultColumn" type="xsd:boolean"/>
              </xsd:extension>
            </xsd:simpleContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="piece">
          <xsd:complexType>
            <xsd:simpleContent>
              <xsd:extension base="xsd:int">
                <xsd:attribute name="isNull" type="xsd:boolean"/>
                <xsd:attribute name="isDefaultColumn" type="xsd:boolean"/>
              </xsd:extension>
            </xsd:simpleContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="bank_id">
          <xsd:complexType>
            <xsd:simpleContent>
              <xsd:extension base="xsd:int">
                <xsd:attribute name="isNull" type="xsd:boolean"/>
                <xsd:attribute name="isDefaultColumn" type="xsd:boolean"/>
              </xsd:extension>
            </xsd:simpleContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="currency_id">
          <xsd:complexType>
            <xsd:simpleContent>
              <xsd:extension base="xsd:int">
                <xsd:attribute name="isNull" type="xsd:boolean"/>
                <xsd:attribute name="isDefaultColumn" type="xsd:boolean"/>
              </xsd:extension>
            </xsd:simpleContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="price">
          <xsd:complexType>
            <xsd:simpleContent>
              <xsd:extension base="xsd:int">
                <xsd:attribute name="isNull" type="xsd:boolean"/>
                <xsd:attribute name="isDefaultColumn" type="xsd:boolean"/>
              </xsd:extension>
            </xsd:simpleContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="ttlive">
          <xsd:complexType>
            <xsd:simpleContent>
              <xsd:extension base="xsd:string">
                <xsd:attribute name="isNull" type="xsd:boolean"/>
                <xsd:attribute name="isDefaultColumn" type="xsd:boolean"/>
              </xsd:extension>
            </xsd:simpleContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="order_type">
          <xsd:complexType>
            <xsd:simpleContent>
              <xsd:extension base="xsd:byte">
                <xsd:attribute name="isNull" type="xsd:boolean"/>
                <xsd:attribute name="isDefaultColumn" type="xsd:boolean"/>
              </xsd:extension>
            </xsd:simpleContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="created_at">
          <xsd:complexType>
            <xsd:simpleContent>
              <xsd:extension base="xsd:string">
                <xsd:attribute name="isNull" type="xsd:boolean"/>
                <xsd:attribute name="isDefaultColumn" type="xsd:boolean"/>
              </xsd:extension>
            </xsd:simpleContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="status">
          <xsd:complexType>
            <xsd:simpleContent>
              <xsd:extension base="xsd:string">
                <xsd:attribute name="isNull" type="xsd:boolean"/>
                <xsd:attribute name="isDefaultColumn" type="xsd:boolean"/>
              </xsd:extension>
            </xsd:simpleContent>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>